body {
    margin: 0;
}
.wrapper {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    background-color: beige;
    height: 100vh;
}
.wrapper > div {
    padding: .5em;
    font-size: 5vw;
    color: white;
}
.red {
    background: orangered;
}
.green {
    background: yellowgreen;
}
.blue {
    background: steelblue;
}