body {
    background: #406967;
}
.modal {
    background: white;
    width: 300px;
    height: 200px;
    overflow: auto;
    margin: auto;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,.5);

}