button {
    background: rgb(41, 248, 41);
    color: rgb(8, 27, 189);
    border: none;
    border-radius: 20px;
    padding: .7rem 2rem;
    box-shadow: 5px 5px 0 #000;
    position: relative;
    left: 0;
    top: 0;
    transition: 1s;
}
button:hover {
    left: 5px;
    top: 5px;
    box-shadow: 0 0 0 #000;
}